<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="UTF-8"/>
<title>Nuevo Producto</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>

<body class="text-center">
<style type="text/css">
html, body {
		height: 100%;
	}
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

.box-100 i{
font-size:26px;    

.cc:hover {
    box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.06);
}
.btn {
    padding: 14px 26px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
</style>
 

<form th:action="@{/guardarproducto}" th:object = ${productonuevo} method = "Post">
<div class="container py-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h2 class="mb-2 h1 font-weight-bold">Agregar Producto</h2>
       </div>
       </div>
       
    <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
 <input type="text" class="form-control" name="Nombre" required="required" th:field = "*{nombre}">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">C&oacute;digo</span>
  <input type="number" class="form-control" name="codigo" required="required" th:field = "*{codigo}">
</div>



<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Precio</span>
  <span class="input-group-text">$</span>
  <input type="number" class="form-control" name="precio"  required="required" th:field = "*{precio}">
  
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Disponibilidad</span>
  <input type="text" class="form-control" name="disponibilidad" required="required" th:field = "*{disponibilidad}">
</div>

      </div>
      <div>
       <button type="submit" class="btn btn-dark">Guardar</button>
      </div>
      <p>
      </p>
</form>


<div>
<form action="Admin" class="form-group">
				<input type="submit" class="btn btn-danger" value="Cancelar">
		</form>
</div>
</body>
</html>