<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<title>Productos</title>
</head>

<body class="text-center">
<style type="text/css">
html, body {
		height: 100%;
	}
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

.box-100 i{
font-size:26px;    

.cc:hover {
    box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.06);
}
.btn {
    padding: 14px 26px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
</style>
<div class="container py-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h2 class="mb-2 h1 font-weight-bold">Sus Productos</h2>
  </div>
  

 		<hr>
 	
 	<table class="table table-dark">
 	<thead>
   <tr>
    
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">C&oacute;digo</th>
      <th scope="col">Precio</th>
      <th scope="col">Disponibilidad</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
      
    </tr>
  </thead>
  <tbody>
  	
 <tr th:each = "producto:${listaproductos}">
      <td th:text = "${producto.id}"></td>
      <td th:text = "${producto.nombre}"></td>
      <td th:text = "${producto.codigo}"></td>
      <td th:text = "${producto.precio}"></td>
       <td th:text = "${producto.disponibilidad}"></td>
					<td ><a type="button" class="btn btn-outline-primary" th:href="@{/editarproducto/}+ ${producto.id}" ><i class="lni lni-pencil-alt"></i></a></td>
     				 <td><a type="button" class="btn btn-outline-danger"th:href="@{/eliminarproducto/}+ ${producto.id}"><i class="lni lni-close"></i></a></td>
				</tr>
    
  </tbody>
</table>



<div class ="container mt-5">
 		<a type="button" class="btn btn-dark" th:href = "@{/altaproducto}">Nuevo Producto</a>
 		 <p> </p>
 <form action="Admin" class="form-group">
				<input type="submit" class="btn btn-danger " value="Cancelar">
		</form>
 </div>
</body>
</html>